@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/*------------------------------------------------Colors*/

.bg-color-name-title {
  background-color: #A5B5BF;
}

.ui-menu-color-home {
  background-color: #0892a5;
}

.ui-menu-color-resume {
  background-color: #06908f;
}

.ui-menu-color-contact {
  background-color: #0ca4a5;
}

.ui-menu-color-interests {
  background-color: #9BA0BC;
}

.ui-menu-color-reviews {
  background-color: #7A8B99;
}

.ui-menu-color-github {
  background-color: #87255b;
}

.ui-menu-color-download {
  background-color: #7C6C77;
}

.bg-color-three-reasons {
  background-color: #fff;
}

.bg-color-personal-info {
  background-color: #f4f4f4;
}

.bg-color-work-history{
  background-color: #a7a5c6;
}

.bg-color-contact{
  background-color: #fff;
}

.bg-color-conferences {
    background-color: #f4f4f4;
}

.bg-color-groups {
    background-color: #ffffff;
}

.bg-color-reviews-side {
  background-color: #cce6f4;
}
/*---------------------------------------------------------------Special margins/paddings/text*/

h1,
h2,
h3 {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.general-sub {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: #fafafa;
}

.inline-block {
  display: inline-block;
}

.row-table {
  display: table; /*this will set the content as table, so it will have the same height regardless of the content*/
}

.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

.interest-column {
  display: table-cell;
  padding: 30px 30px;
  float: none;
}

.history-heading,
.section-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
}

.interest-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: black;
  margin-top: 25px;
  margin-bottom: 40px;
}

.text-justify {
  text-align: justify;
}

/*---------------------------------------------------------------Heading*/

header {
  margin: 0;
}

.heading {
  margin-left: 50px;
}

.logo {
  background: url("../images/salome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.name {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: #fff;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#nav {
  margin: 0;
}

#nav li {
  font-size: 14px;
  padding: 0;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%; /* makes entire area clickable*/
  text-decoration: none;
  color: white;
  height: 120px;
}

.menuitem a i {
  padding-top: 22px;
  display: block; /*makes icons appear on a single line on its own*/
  color: #fafafa;
  font-size: 26px;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

/*--------------------------------------------------------------Hover.css*/
.hvr-sweep-to-bottom:before {
  background-color: rgba(0, 0, 0, 0.1);
  height: 120px;
}

.heading-hvr:hover {
  color: rgba(0, 0, 0, 0.6);
}

.paragraph-hvr:hover {
  color: rgba(0, 0, 0, 0.6);
}

.button {
  color: white;
  background-color: #e84610;
  border-radius: 12px;
  border: 2px solid white;
}

.button:hover {
  background: white;
  color: #e84610;
}

/*---------------------------------------------------------------Footer*/

footer {
  background-color: #A5B5BF;
  color: #fafafa;
  min-height: 120px;
  padding: 20px;
}

.cv-pdf i {
  font-size: 20px;
  color: #e84610;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out; /*always target parent div so the transition in visible when hovering over and out*/
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
  color: #fafafa;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%; /* if you want a circle, set border-radius: 50% on an element with same height and weight*/
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;  
  background-color: #e84610;
  transition: all 0.35s ease-in-out; /*always target parent div so the transition in visible when hovering over and out*/
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #fafafa;
  color: #e84610;
}

#footer-details {
  padding: 20px;
}

/*---------------------------------------------------------------Three reasons*/

.three-reasons-icon {
  font-size: 26px;
  color: #e84610;
  padding-top: 5px;
}

.three-reasons-heading {
  margin-bottom: 15px;
}

#three-reasons-paragraph p {
  text-align: justify;
}

/*---------------------------------------------------------------Personal Info*/

.personal-info-item {
  margin-bottom: 20px;
  display: block;
  clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
  padding-right: 8px;
  display: inline-block; /*it allows two blocks to be displayed one next to each other*/
}

.personal-info-item .key p,
.personal-info-item .value p {
  margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p{
    font-weight: 700;
}

.personal-info-item .value{
    position: relative;
    width: 60%;
}

#email {
  text-decoration: none;
  color: #212529;
}

#email:hover {
  color: #6A6C6E; 
}

/*------------------------------------------------------------Skills*/
.accordion {
  padding-left: 25px;
  padding-bottom: 25px;
}

.system-logo img {
  padding-top: 25px;
  padding-bottom: 25px;
  vertical-align: middle;
  align-items: center;
  max-width: 100%;
}

.progress{
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 500;
    padding: 5px;
    color: #fafafa;
}

.progress-section{
    margin: 40px 20px;
}

/*------------------------------------------------------------History*/
.history-heading{
    color: #fafafa;
    margin-bottom: 25px;
}

.timeline-item {
    font-family: 'Cambria', serif;
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid; /*it will give the visual aspect of a timeline*/
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -6px;
    border-radius: 12px;
    box-shadow: 0 0 2px #6d6aa0;
    content: "";
    background: #fafafa;
}

.history-items {
   margin-bottom: 30px;
}

/*---------------------------------------------------------------Contact Form*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

#button {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: lightslategray;
    color: #fafafa;
    background-color: #e84610;
}

#button:hover {
  background-color: #fafafa;
  color: #e84610;
}

/*---------------------------------------------------------------Cards*/
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.interest-card {
  padding: 30px 30px;
  align-content: center;
}

/*---------------------------------------------------------------404 Error Page*/
#error-image {
 width: 30%;
 height: auto;
}


/*---------------------------------------------------------------Media Queries*/

@media(min-width: 992px) {
   .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}

  .mobile-display{display:none}
  .desktop-display{display:block}
@media (max-width:800px){
  .desktop-display {display:none}
  .mobile-display {display:block}
}
